<h1>ブログ一覧</h1>

<table>
  <tr>
    <th>名前</th>
    <th>詳細</th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <td><%= task.name %></td>
    <td><%= task.content %></td>

    <td><%= link_to '詳細を確認する', task_path(task.id) %></td>
    <td><%= link_to 'タスクを編集する', edit_task_path(task.id) %></td>
  </tr>
<% end %>
</table>

<%= link_to '新しくタスクを投稿する', new_task_path %>
