<h1><%= t('view.task_details') %></h1>
<p><%= t('view.name') %>: <%= @task.name %></p>
<p><%= t('view.details') %>: <%= @task.content %></p>
<p><%= t('view.deadline') %>: <%= @task.deadline.strftime('%Y-%m-%d') %></p>
<p><%= t('view.status') %>: <%= Task.statuses_i18n[@task.status] %></p>
<p><%= t('view.priority') %>: <%= Task.priorities_i18n[@task.priority] %></p>

<p>
  <%= t('view.label_name') %>: <%@task.labels.each do |label| %>
  <%= label.name %>
  <% end %>
</p>


<%= link_to t('view.back_task'),tasks_path %>
