<h1><%= t('view.user_index') %></h1>

<p><%= notice %></p>

<%= link_to t('view.create_user'),new_admin_user_path %>

<table class="table table-bordered table-hover">
  <tr>
    <th><%= t('view.name') %></th>
    <th><%= t('view.email') %></th>
    <th><%= t('view.task_count') %></th>
    <th><%= t('view.check_admin') %></th>
    <th><%= t('view.details') %></th>
    <th><%= t('view.edit') %></th>
    <th><%= t('view.destroy') %></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <div classs="user">
      <td id="name"><%= user.name %></td>
      <td id="email"><%= user.email %></td>
      <td id="task_count"><%= user.tasks.count %></td>
      <td id="check_admin"><%= user.admin %></td>
      <td><%= link_to t('view.user_detail'), admin_user_path(user.id) %></td>
      <td><%= link_to t('view.user_edit'), edit_admin_user_path(user.id), data: { confirm: t('view.edit_task?') } %></td>
      <td><%= link_to t('view.user_destroy'), admin_user_path(user.id), method: :delete, data: { confirm: t('view.delete_task?') } %></td>
   </div>
  </tr>
<% end %>
</table>
